<div class="form_outer">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" novalidate>
        <h1>Send message:</h1>
        <mat-form-field>
            <textarea matInput placeholder="Message" formControlName="message" name="message"></textarea>
            <mat-error *ngIf="messageForm.controls['message'].touched && !messageForm.controls['message'].valid">Message is required</mat-error>
        </mat-form-field>


        <div fxLayout="row" fxLayoutAlign="flex-end center">
            <button mat-raised-button color="primary">Send</button>
        </div>
    </form>

    <app-messages></app-messages>
</div>
